@model IEnumerable<OnlineHouseRentManagementSystem.Models.seller>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.seller_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.seller_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.seller_phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.seller_photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.seller_state)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.seller_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.seller_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.seller_phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.seller_photo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.seller_state)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.seller_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.seller_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.seller_id })
        </td>
    </tr>
}

</table>
